{% extends "bootstrap/base.html" %}

{% block title %}Skitch Gal{% endblock %}
{% block content %}
    <table border='1'>
      <tr>
        {% set count = 0 %}
        {% for image in images %}
          {% if count % config['num_per_row']|int == 0 %}
        </tr>
        <tr>
          {% endif %}
        <td width='320' height='320' align='center'>
          <a href='{{config['urlbase']}}/{{image}}'>
            <img id='{{anchor}}' src='{{config['urlbase']}}/.thumbs/thumb.{{image}}'>
            <br>
            {{image}}
            <br>
            <a href='delete/{{image}}?anchor={{anchor}}' class='btn btn-danger btn-small' onclick='return confirm("Really delete?")'>DELETE</a>
            {% set anchor = image %}
          </a>
        </td>
        {% set count = count + 1 %}
        {% endfor %}
      </tr>
    </table>
{% endblock %}
